@tailwind base;
@tailwind components;
@tailwind utilities;

li:hover{
opacity: 0.8;
}

.fot li:hover{
 text-decoration: underline;
 opacity: 1;

}

.active{
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: background-color 0.3s ease;
}

.active {
    color: white;
    
 }

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

 
.loading {
	width: 1.2em;
	height: 1.2em;
}

 
.loading .maskedCircle {
	width: 1.2em;
	height: 1.2em;
	border-radius: 0.75em;
	border: 0.1875em solid white;
}

 
.loading .mask {
	width: 0.9em;
	height: 0.9em;
	overflow: hidden;
}

 
.loading .spinner {
	width: 1.2em;
	height: 1.2em;
	animation: spin 1s infinite linear;
}


 